plugin: google.cloud.gcp_compute
projects: ["__PROJECT_ID__"]
auth_kind: serviceaccount
service_account_file: "/tmp/gcp-key.json"
filters: ['name = "simple-elixir-instance"']
hostnames: [name]
compose:
  ansible_host: networkInterfaces[0].accessConfigs[0].natIP
  ansible_user: ubuntu
  ansible_ssh_private_key_file: ~/.ssh/ansible_deploy_key
  ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
